@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    // ViewBag.dgr'den SelectList oluşturuluyor
    //var selectList = new SelectList((List<SelectListItem>)ViewBag.dgr, "Value", "Text");
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<form class="form-group" method="post">

    <div style="margin-top:10px">
        <center> <h2>Ürün Ekle</h2></center>
    </div>
    <div>



        <label>
            &nbsp;&nbsp; Ürün Adı
            <input style="margin-left:10px" type="text" class="form-control" name="UrunAd" />
        </label>
        <br />
        <br />
        <label>
            &nbsp;&nbsp; Fiyat
            <input style="margin-left:10px" type="text" class="form-control" name="Fiyat" />
        </label>

        <br />
        <br />
        <label>
            &nbsp;&nbsp; Kategori
            <input style="margin-left:10px" type="text" class="form-control" name="KategoriID" />
            @*@Html.DropDownListFor(m => m. KategoriAd, selectList, new { @class = "form-control" })*@
        </label>

        <br />
        <br />
        <label>
            &nbsp;&nbsp; Marka
            <input style="margin-left:10px" type="text" class="form-control" name="Marka" />
        </label>

        <br />
        <br />
        <label>
            &nbsp;&nbsp; Stok
            <input style="margin-left:10px" type="text" class="form-control" name="Stok" />
        </label>

    </div>
    <div style="margin-left:10px">
        <br>
        <button class="btn btn-info">Müşteri Ekle</button>

    </div>

</form>
