
@{
    ViewBag.Title = "EditSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>EditSatis</h2>

<button id="kaydetButton">Kaydet</button>

<script>
    var kaydetButton = document.getElementById("kaydetButton");
    kaydetButton.style.backgroundColor = "#000000";
    kaydetButton.style.color = "white";
    kaydetButton.style.border = "none";
    kaydetButton.style.padding = "10px 20px";
    kaydetButton.style.borderRadius = "5px";
</script>