@using EntityLayer.Concrete
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .table-container {
        width: 50%; /* Tabloyu yatayda %50 oranında küçültme */
        overflow: hidden; /* İçeriği taşan kısımları gizleme */
        margin: 0 auto; /* Sayfa ortalamasına göre hizalama */
    }
</style>

<br /><center><h2>Kategori Listeleme Sayfası</h2></center>
      <div>

          <table class="table container">
              <tr>
                  <th>KategoriID</th>
                  <th>Kategori Adı</th>

              </tr>

              @foreach (var item in Model)
              {

                  <tr>
                      <td>@item.KategoriID</td>
                      <td>@item.KategoriAd</td>

                  </tr>
              }
          </table>
      </div>
          <a href="/AdminKategori/AddCategory" style="margin-left:20px;" class="btn btn-info">Yeni Kategori</a>
<br />
