@using EntityLayer.Concrete
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .table-container {
        width: 50%; /* Tabloyu yatayda %50 oranında küçültme */
        overflow: hidden; /* İçeriği taşan kısımları gizleme */
        margin: 0 auto; /* Sayfa ortalamasına göre hizalama */
    }
</style>

<br /><center><h2>Kategori Listeleme Sayfası</h2></center>
<div>
    <form method="post" action="/AdminKategori/index">
        <table class="table container">
            <tr>
              
                <th>KategoriID</th>
                <th>Kategori Adı</th>
                <th>-</th>
                <th>-</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    
                    <th>@item.KategoriID</th>
                    <td>@item.KategoriAd</td>

                    <td><a href="/AdminKategori/DeleteKategori/@item.KategoriID" class="btn btn-danger">Kategori sil</a></td>
                    <td><a href="/AdminKategori//@item.KategoriID" class="btn btn-success">Kategori güncelle</a></td>

                </tr>
            }
        </table>

    </form>
</div>
<a href="/AdminKategori/AddCategory" @*/@item.KategoriID"*@ style="margin-left:20px;" class="btn btn-info">Yeni Kategori</a>
<br />
