@using EntityLayer.Concrete
@model List<Kategori>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .table-container {
        width: 50%; /* Tabloyu yatayda %50 oranında küçültme */
        overflow: hidden; /* İçeriği taşan kısımları gizleme */
        margin: 0 auto; /* Sayfa ortalamasına göre hizalama */
    }
</style>
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<br />
<center><h2>Kategori Listesi</h2></center>
<br />
<table class="table container">
    <tr>
        <th>KategoriID</th>
        <th>Kategori Adı</th>
       
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>@item.KategoriID</td>
            <td>@item.KategoriAd</td>
         
        </tr>
    }
</table>

<br />

